[submodule "pico-badapple"]
	path = pico-badapple
	url = git@github.com:iwatake2222/pico-badapple.git
[submodule "pico-vfs"]
	path = pico-vfs
	url = git@github.com:oyama/pico-vfs.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "micropython"]
	path = micropython
	url = git@github.com:micropython/micropython.git
